<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>APPLICATION_ID</key>
	<string>KdO5k3gm55PdpGMAuXXL2HydpiPPSKG4TUSA</string>
	<key>REST_API_KEY</key>
	<string>0XVzVKLgXdOQGdiYA4kJ6A69YftJxToQR9VD</string>
	<key>FLAT</key>
	<false/>
</dict>
</plist>
